.filterSelectWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filterSelect {
    width: 40%
}

label.btn.active {
    background: #F59862;
    color: #ffffff;
    border: 2px solid #9F9861;
}

